.landingContainer {
  position: absolute;
  background-color: #38846d;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landingText {
  position: relative;
  top: 250px;
}

.leftLanding {
  position: relative;
  left: -32px;
  top: -156px;
}

.rightLanding {
  position: relative;
  left: 32px;
  top: -153px;
}
