.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -100px;
    height: 530px;
    width: 350px;
    background-color: #f3e4e1;
    border: 1px solid black;
}

.logInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logInFormMain{
    width: 375px;
    height: 667px;
    background-color: #2f2926;
}

.userName{
    height: 48px;
    width: 310px;
    border-radius: 6px;
    margin-top: 3px;
    background-color: #f3e4e1;
    font-size: 16px;
}

.password{
    height: 48px;
    width: 310px;
    border-radius: 6px;
    margin-top: 3px;
    background-color: #f3e4e1;
    font-size: 16px;
}

.logInButton{
    background-color: #2f2926;
  color: white;
  border-radius: 25px;
  position: relative;
  width: 250px;
  height: 45px;
  bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 90px;
  font-family: 'PT Serif', serif;
}

