.menuContainer {
  background-color: #f3e4e1;
  height: auto;
}

.modal {
  position: absolute;
  width: 22%;
  height: 40%;
  top: -400px;
}

modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.cartButton {
  position: absolute;
  left: 79.73%;
  right: 4.27%;
  top: 1.91%;
  bottom: 90.94%;
  background-image: url("../assets/graphics/bag.svg");
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-position: center;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.closeCartButton {
}

/* .footer-container {
  position:
} */
