.Navbar {
  width: 375px;
  height: 667px;
  background-color: #2f2926;
  font-family: serif;
  font-size: 32px;
  font-weight: 700, bold;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Links {
  color: white;
}

.crossButton {
  position: absolute;
  left: 14px;
  top: 1.91%;
  background-image: url("../assets/graphics/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.dash {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  width: 58px;
}
